<div class="inputs">
    <label for="name">Nome</label>
    <input id="name" placeholder="Como prefere ser chamado" (ngModelChange)="onChange($event)" [(ngModel)]="name" value={{name}} />
</div>
<div class="inputs">
    <label for="phone">Telefone</label>
    <input id="phone" placeholder="Digite seu número de WhatsApp" (ngModelChange)="onChange($event)" [(ngModel)]="phone" />
</div>
<div class="inputs">
    <label for="email">Email</label>
    <input id="email" name="email" placeholder="Digite seu e-mail" (ngModelChange)="onChange($event)" [(ngModel)]="email" />
</div>
<div class="button-container">
    <button class="button" type="button" (click)="nextStep()"> Continuar </button>
</div>