@import '../../css/colors';

.inputs{
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    label{
        font-weight: bold;
        margin-bottom: 4px;
    }
    input{
        height: 48px;
        font-size: 1rem;
        padding: 8px;
        border: solid 1px $gray-100;
        border-radius: 6px;
    }
    textarea{
        height: 100px;
        font-size: 1rem;
        padding: 8px;
        border: solid 1px $gray-100;
        border-radius: 6px;
        resize: none;
    }
}

.button-container{
    display: flex;
    justify-content: space-between;    
    button{
        text-transform: uppercase;
        border-radius: 6px;
        padding: 16px;
        font-weight: bold;
    }
    .button{
        background-color: $purple-mid;
        color: $white;
        border: solid 1px $purple-mid;
        &:hover{
            background-color: $purple-light;
            cursor: pointer;
            color: $white;
        }
    }
    .btn-secondary{
        color: $purple-mid;
        border: solid 1px $purple-mid;
        background-color: $white;
        &:hover{
            background-color: $purple-light;
            cursor: pointer;
            color: $white;
        }
    }
    .disabled{
        background-color: rgb(240, 240, 240);
        border: none;
    }
}