<div class="form-container">
    <section class="header">
        <div class="content">
            <div class="circle purple"> 1 </div>
            <h4>Contato</h4>
        </div>
        <span><strong>></strong></span>
        <div class="content">
            <div class="circle gray"> 2 </div>
            <h4>Empresa</h4>
        </div>
        <span><strong>></strong></span>
        <div class="content">
            <div class="circle gray"> 3 </div>
            <h4>Projeto</h4>
        </div>
    </section>
    <div class="inputs">
        <label for="name">Nome</label>
        <input id="name" placeholder="Como prefere ser chamado"/>
    </div>
    <div class="inputs">
        <label for="phone">Telefone</label>
        <input id="phone" placeholder="Digite seu número de WhatsApp"/>
    </div>
    <div class="inputs">
        <label for="email">Email</label>
        <input id="email" placeholder="Digite seu e-mail"/>
    </div>
    <div class="button-container">
        <button class="button"> Continuar </button>
    </div>
</div>