<div class="form-container">
    <h1>{{currentStep}}</h1>
    <section class="header">
        <div class="content">
            <div class="circle purple"> 1 </div>
            <h4>Contato</h4>
        </div>
        <span><strong>></strong></span>
        <div class="content">
            <div class="circle gray"> 2 </div>
            <h4>Empresa</h4>
        </div>
        <span><strong>></strong></span>
        <div class="content">
            <div class="circle gray"> 3 </div>
            <h4>Projeto</h4>
        </div>
    </section>
    <app-form></app-form>
</div>